<div class="container">
  <div class="row">
    <h1 id="title">Welcome to Ember</h1>
  </div>

  {{#if user}}
    <div class="row">
      Hello {{user.name}}. Click {{#link-to 'logout'}}here{{/link-to}} to logout.
    </div>
  {{else}}
    <div class="row">
      Click {{#link-to 'register'}}here{{/link-to}} to register
    </div>

    <div class="row">
      Click {{#link-to 'login'}}login{{/link-to}} to login
    </div>
  {{/if}}

  {{outlet}}
</div>
